/* #heading {
  color: yellow;
} */
/* id class type */
/* 0 0 0 */

/* 0 1 1*/
h1.heading {
  color: red;
}

/* 0 1 0 */
.heading {
  color: blue;
  color: red;
}

/* 0 0 1 */
h1 {
  color: orange;
}

/* 1 1 1  */
h1.heading#heading {
  color: lightblue
}

/* 1 0 0 */
#heading {
  color: brown;
}

/* 1 0 1  */
h1#heading {
  color: pink;
}







/* h1.heading {
  background-color: orange;
} */

/* h1#heading {
  background-color: purple;
} */

/* p.danger {
  background-color: red;
} */

/* find a <p> which has the class of success */
/* p.success {
  color: green;
} */











